*{
    padding: 0;
    margin: 0;
    /* background-color: rgb(244,244,244); */
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}
body{
    background-color: rgb(37,37,41);
}
.main {
    background: url(bg.jpeg) ;
    width: 100%;
    height: 100vh;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
}
.nav ul{
    display: flex;
    list-style: none;
    /* background-color: #333; */
    position: fixed;
}
.nav{
    background-color: #333;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 9999;
}
.nav li{
    width: 100px;
    /* background-color: #333; */
    padding: 10px 0;
    text-align: center;
}
.nav li:hover{
    background: grey;
}
.nav a{
    text-decoration: none;
    /* background-color: #333; */
    color: rgb(244,244,244);
    font-size: 16px;
}
.main .content {
    color:rgb(244,244,244);
    text-align: center;
    position: absolute;
    margin-top: 27vh;
    max-width: 1190px;
    margin-left: 25vh;
    /* justify-content: center; */
}
.main .content h1{
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}
.main .content h2{
    padding-top: 45px;
    padding-bottom: 35px;
    font-size: 1.5rem;
}
.content p{
    line-height: 30px;
    justify-content: center;
}

.music{
    background-color: rgb(37,37,41);
    color: rgb(244,244,244);
    position: relative;
}
.music .music-container{
    margin: auto;
    max-width: 1180px;
    text-align: center;
    padding: 0 3rem;
    margin-top: 50px;
    
}
.music-container h1{
    font-size: 2rem;
    /* margin-bottom: 50px; */
} 
.music-container h1 .fa-music{
    font-size: 2rem;
}
.music-container h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 50px 0;
}
.music-container p{
    line-height: 30px;
}
.music-container .button{
    margin: 40px 0;
}
.music-container .button a{
    text-decoration: none;
    color: rgb(244,244,244);
    font-size: 15px;
    background-color: #b90415;
    padding: 1rem;
}
.music-container .button a:hover{
    background-color: #d3071b;
}
.music-container .bio{
    font-size: 15px;
}
.music-container img{
    padding: 20px;
    width: 100%;
    background-size: cover;
    /* background-position: center; */
}

.video{
    background-color: rgb(244,244,244);
    color: #333;
}
.video .video-content{
    text-align: center;
    max-width: 1180px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 40px;
}
.video .video-content h1{
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.video .video-content p{
    line-height: 30px;
    margin-bottom: 10px;
}
.video .video-content .button{
    padding: 20px 0;
}
.video .video-content .button a{
    text-decoration: none;
    background-color: #103063;
    color: rgb(244,244,244);
    font-size: 15px;
    padding: 20px;
    justify-content: center;
    /* align-items: center; */
}
.video .video-content .button a:hover{
    background-color: #143f85;
}
.video .video-content img{
    background-size: cover;
}
.gg{
    background-image: url(section-bg.jpeg);
    color: rgb(244,244,244);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 auto;
    padding: 0;
}
.gg div{
    padding: 9rem;
    text-align: center;
    max-width: 1180px;
    padding-bottom: 9rem;
    margin: 0 auto;
}
.gg div h3{
    font-size: 1.5rem;
    margin-block: 2rem;
}
.gg div p{
    margin-block: .5rem;
    line-height: 35px;
}

.gifts{
    background-color: rgb(244,244,244);
    text-align: center;
    padding: 0 3rem;
    padding-block: 50px;
    color: #333;
    padding-bottom: 30px;
}
.gifts .container{
    display: grid;
    max-width: 1180px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    justify-content: center;
    grid-gap: 20px;
    margin: 0 auto;
}
.gifts .container .left img{
    width: 100%;
}
.gifts .container .right h1{
    /* padding-left: 50px; */
    padding-block: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}
.gifts .container .right p{
    font-size: 16px;
    line-height: 30px;
}
.gifts .container .right .next{
    padding-block: 18px;
}
.gifts .container .right a .fa-chevron-right{
    padding-block: 18px;
    font-size: 16px;
    color: #103063;
}
.gifts .container .right a{
    font-size: 16px;
    text-decoration: none;
    color: #103063;
}

.footer .content{
    padding: 1.2rem;
    color: #f4f4f4;
    display: grid;
    max-width: 1180px;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(4 ,300px);
}
.footer .content div ul{
    list-style: none;
    padding-block: 20px;
}
.footer .content div{
    padding-inline: 30px;
}
 .footer .content div h2{
    /* padding-top: 20px; */
    padding-block: 20px;
    font-weight: 500;
}
.footer .content div li a{
    text-align: left;
    font-size: 14px;
    color: #f4f4f4;
    text-decoration: none;
    font-weight: 100;
    line-height: 30px;
}
.compiright{
    padding-block: 20px;
    background-color: rgb(51,51,51);
    color: #f4f4f4;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.compiright h2{
    font-weight: 100;
    font-size: 17px;
}